[Unit]
Description=copypatrol api gunicorn daemon
Requires=copypatrol-api-gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/copypatrol-env.sh
ExecStart=/var/www/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 4 \
          --bind unix:/run/copypatrol-api-gunicorn.sock \
          "copypatrol_backend.api:application_factory()"
ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != 0 ]; then python3 /var/www/copypatrol-backend/.vps/bin/failure-mailer.py %n %H; fi'
SyslogIdentifier=copypatrol-api

[Install]
WantedBy=multi-user.target
