[Unit]
Description=copypatrol backend update ready diffs daemon
After=network.target

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/copypatrol-env.sh
ExecStart=/var/www/.venv/bin/copypatrol-backend update-ready-diffs -log:update-ready-diffs.log
ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != 0 ]; then python3 /var/www/copypatrol-backend/.vps/bin/failure-mailer.py %n %H; fi'
SyslogIdentifier=copypatrol-backend-update-ready-diffs

[Install]
WantedBy=multi-user.target
