[Unit]
Description=copypatrol backend update ready diffs timer
Requires=copypatrol-backend-update-ready-diffs.service

[Timer]
AccuracySec=5 min
OnStartupSec=5 min
OnUnitInactiveSec=1 hour
Unit=copypatrol-backend-update-ready-diffs.service

[Install]
WantedBy=timers.target
