name: tests
env:
  CPB_DB_DRIVERNAME: sqlite
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    name: python 3.13
    runs-on: ubuntu-latest
    steps:
    - name: set up python
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
    - name: install poetry
      uses: snok/install-poetry@v1
    - name: checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: install package
      run: poetry install
    - name: install pytest-github-actions-annotate-failures
      run: poetry run python -m pip install pytest-github-actions-annotate-failures
    - name: setup testing
      run: poetry run testing/setup
    - name: test with pytest
      run: poetry run pytest
